:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    /* CSS HEX */
    /*--french-violet: #731dd8ff;
    --verdigris: #48a9a6ff;
    --timberwolf: #e4dfdaff;
    --tan: #d4b483ff;
    --fuzzy-wuzzy: #c1666bff;*/

    /* CSS HSL */
    /*--french-violet: hsla(268, 76%, 48%, 1);
    --verdigris: hsla(178, 40%, 47%, 1);
    --timberwolf: hsla(30, 16%, 87%, 1);
    --tan: hsla(36, 49%, 67%, 1);
    --fuzzy-wuzzy: hsla(357, 42%, 58%, 1);*/

    /* SCSS HEX */
    /*$french-violet: #731dd8ff;
    $verdigris: #48a9a6ff;
    $timberwolf: #e4dfdaff;
    $tan: #d4b483ff;
    $fuzzy-wuzzy: #c1666bff;*/

    /* SCSS HSL */
    /*$french-violet: hsla(268, 76%, 48%, 1);
    $verdigris: hsla(178, 40%, 47%, 1);
    $timberwolf: hsla(30, 16%, 87%, 1);
    $tan: hsla(36, 49%, 67%, 1);
    $fuzzy-wuzzy: hsla(357, 42%, 58%, 1);*/

    /* SCSS RGB */
    /*$french-violet: rgba(115, 29, 216, 1);
    $verdigris: rgba(72, 169, 166, 1);
    $timberwolf: rgba(228, 223, 218, 1);
    $tan: rgba(212, 180, 131, 1);
    $fuzzy-wuzzy: rgba(193, 102, 107, 1);*/

    /* SCSS Gradient */
    /*$gradient-top: linear-gradient(0deg, #731dd8ff, #48a9a6ff, #e4dfdaff, #d4b483ff, #c1666bff);
    $gradient-right: linear-gradient(90deg, #731dd8ff, #48a9a6ff, #e4dfdaff, #d4b483ff, #c1666bff);
    $gradient-bottom: linear-gradient(
        180deg,
        #731dd8ff,
        #48a9a6ff,
        #e4dfdaff,
        #d4b483ff,
        #c1666bff
    );
    $gradient-left: linear-gradient(270deg, #731dd8ff, #48a9a6ff, #e4dfdaff, #d4b483ff, #c1666bff);
    $gradient-top-right: linear-gradient(
        45deg,
        #731dd8ff,
        #48a9a6ff,
        #e4dfdaff,
        #d4b483ff,
        #c1666bff
    );
    $gradient-bottom-right: linear-gradient(
        135deg,
        #731dd8ff,
        #48a9a6ff,
        #e4dfdaff,
        #d4b483ff,
        #c1666bff
    );
    $gradient-top-left: linear-gradient(
        225deg,
        #731dd8ff,
        #48a9a6ff,
        #e4dfdaff,
        #d4b483ff,
        #c1666bff
    );
    $gradient-bottom-left: linear-gradient(
        315deg,
        #731dd8ff,
        #48a9a6ff,
        #e4dfdaff,
        #d4b483ff,
        #c1666bff
    );
    $gradient-radial: radial-gradient(#731dd8ff, #48a9a6ff, #e4dfdaff, #d4b483ff, #c1666bff);*/
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
    --gutter: 30px;
    --footer-height: 25px;

    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(20, 212, 237, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: bisque;
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--shadow);
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);

    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

@keyframes pulse {
    20% {
        transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
    }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }
}

.hiding-places {
    height: 300px;
}

.hiding-place {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.hiding-img {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.face::after {
    font-size: 8rem;
    content: 'assets/shell-b.png';
    position: absolute;
}
